FarmTypeManager/data/
\[FTM\] Better Quarry Redux/data/
\[FTM\] Stardew Valley Expanded/data/
BuildEndurance/data/_Miller_259179720.json
ConvenientChests/savedata/_Miller_259179720.json
ConvenientChests/savedata/
BuildEndurance/data/
Longevity/Data.txt
MultiplayerModChecker/LatestMultiplayerModReport-Host.json
UI Info Suite/*_modData.xml
MultiplayerModChecker/*-Host.txt
\[MNF\] Island/\[FTM\] Island/data/Miller_259179720_SaveData.save
*_SaveData.save
CJBItemSpawner/
CJBCheatsMenu/
